<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Html for our code owo ;)</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="profile">
    <div class="profile__picture">

    
        <img src="http://ddragon.leagueoflegends.com/cdn/11.8.1/img/profileicon/4637.png">
        <span class="profile__level">333</span>

    </div>
    <div class="profile__content">

        <h3>Username Here</h3>
        <h4>Region</h4>
    </div>
    </div>

    <div class="match-history">
        <div class="match win">
            <div class="match__game-info">
            <h4>Game Type</h4>
            <h4>Game length</h4>
            <hr>
            <h4>Game win/loss</h4>
            </div>

            <div class="match__player-info">
                <div class="match__player-imgs">

                    <img class="champion-img">
                    <img class>
                    <img class>
                   
                </div>
                     <h5>Champion</h5>
            </div>

            <div class="match__match-stats">
                <h4>0 / <span>0</span> / 0</h4>
                <h5>kda</h5>
                
            </div>

            <div class="match__match-info">
             <div>
                    <h4>champion-lv</h4>
                    <h4>Creep score</h4>
                    <h4>total damage dealt</h4>
                   
            </div>

            </div>
        </div>


    </div>

<script src="../static/champion.js"></script>
</body>

</html>