{%extends 'index.html'%}



{%block additional_nav%}

{%if user.id%}
<li class="nav-item"> 
<a class="nav-link" href="/edit_info" > Edit user info </a>
</li>

<li class="nav-item"> 
<a class="nav-link" href="/logout" > Log Out </a>
</li>

{%endif%}

{%endblock%}




{%block content%}




<script>
window.user = { 
    username: "{{user.username}}",
    region: "{{user.region}}"
};
  </script>




<div id="user1_data"></div>


<div id="user2_data"></div>



<!-- this form will be used to grab the second user should it be submitted and will display their last 10 games -->
<div class="input-group justify-content-center " id="vs_form">
<div class="form-outline ">

    <form  id="user_form" action="submit">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
    </div>
      <button class="btn btn-primary"> VS </button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="static/ihatejs.js"></script>

{%endblock%}